.idea/
.vagrant/
/aws
awscli.zip
after.sh
aliases
awscliv2.zip
Vagrantfile
/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env.example
composer.lock
public/js/app.js
